<section class="page__section examples">
	<div class="container _sm">

		<details>
			<summary><h2 style="display: inline-block">Examples</h2></summary>

			<p style="margin-top: 2rem"><b>button</b> component:</p>
			{{ component('button', {
				text: 'Counter',
				attr: 'data-counter'
			}) }}

			<p style="margin-top: 2rem"><b>icon</b> component (SVG-sprite):</p>
			{{ component('icon', {
				iconName: 'arrow-right',
				attr: 'width="50" height="50"'
			}) }}

			<p style="margin-top: 2rem">Example of using <b>for</b> tag and <b>range()</b> function:</p>
			{% for i in range(1, 13)  %}
				<span>{{ i }}</span>
			{% endfor %}

			{% if system.mode === 'development' %}
				<div style="margin-top: 2rem">
					<p><b>*Debug*</b></p>
					<p>*Эта информация будет выводиться только при <b>system.mode&nbsp;==&nbsp;'development'</b>*</p>
				</div>

			{% endif %}

			<p style="margin-top: 2rem">More information on:</p>
			<ul>
				<li><a href="https://mozilla.github.io/nunjucks/templating.html" target="_blank">Nunjucks docs</a></li>
				<li><a href="https://www.11ty.dev/docs/languages/nunjucks/" target="_blank">Eleventy docs</a></li>
			</ul>
		</details>
	</div>
</section>
