{% from "../components/system/component.njk" import component %}

<!DOCTYPE html>
<html class="page _loading" lang="{{ site.lang }}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>
	{% block title %}
		{% if title %}
			{{ title }} / {{ site.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	{% endblock %}
	</title>

	<meta name="description" content="{{ site.desc }}">

	<link rel="stylesheet" href="/assets/styles/styles.css?{% hash %}">

	{% include "./_favicons.njk" %}
	{% include "./_head-scripts.njk" %}

	<script defer src="/assets/scripts/bundle.js?{% hash %}"></script>
</head>

<body class="page__body">
	{% block content %}{% endblock %}
</body>

</html>
