{% set src = props.src %}
{% set cls = props.className %}
{% set attr = props.attr %}
{% set widths = props.widths %}
{% set sizes = props.sizes %}
{% set format = props.format %}
{% set alt = props.alt %}
{% set loading = props.loading %}
{% set decoding = props.decoding %}

{% img src, cls, attr, widths, sizes, format, alt, loading, decoding %}
