.intro {
	text-align: center;
	&__text {
		margin-bottom: rem(16);
		font-size: rem(20);
	}
	&__picture {
		display: block;
	}
	&__img {
		width: rem(240);
		max-width: 100%;
		height: auto;
		animation: flying 1s ease-in-out infinite alternate;
	}
}

@keyframes flying {
	to { transform: translateY(-5%); }
}
