<section class="page__section intro">
	<div class="container">
		<div class="intro__text">
			<p>{{ intro.hi }}</p>
			<h1>{{ intro.text | safe }}</h1>
		</div>

		{{ component('picture', {
			src: intro.img,
			className: 'intro__picture',
			classNameImg: 'intro__img',
			alt: 'The possum is Eleventy’s mascot',
			loading: 'eager'
		}) }}
	</div>
</section>
