<svg
	{% if props.className %}class="{{ props.className }}"{% endif %}
	{% if props.attr %} {{ props.attr | safe }}{% endif %}>
	<use xlink:href="/assets/svg/sprite.svg#icon-{{ props.iconName }}" />
</svg>
