@import 'lib/mixins';

$default-transition-duration: 0.3s;
$fast-transition-duration: 0.15s;
$default-transition-function: ease-out;

$desktop-lg: 1920px;
$desktop-md: 1440px;
$mobile-lg: 640px;
$mobile-sm: 320px;

html {
	--white: #fff;
	--black: #000;
	--teal: #5ab9c1;
	--light-grey: #ddd;

	--default-bg-color: var(--white);

	--container-max-width: #{rem(1400)};
	--container-padding: #{rem(40)};

	@media (width < $mobile-lg) {
		--container-padding: #{rem(16)};
	}
}
