.svg-sprite {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0;
	height: 0;
	overflow: hidden;
	pointer-events: none;
}

.animated {
	@extend .transition-active;
	&:hover {
		@extend .transition-hover;
	}
}

.transition-active {
	transition: opacity $default-transition-duration $default-transition-function,
		color $default-transition-duration $default-transition-function,
		background $default-transition-duration $default-transition-function,
		border-color $default-transition-duration $default-transition-function;
}

.transition-hover {
	transition: none;
}

.visually-hidden {
	position: absolute;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
}
