.container {
	margin-inline: auto;
	width: min(var(--container-max-width), 100% - (var(--container-padding) * 2));
	&._sm {
		--container-max-width: #{rem(560)};
	}
}

.page {
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__main {
		flex-grow: 1;
		padding-block: rem(24);
	}
	&__section {
		& + & {
			margin-top: rem(24);
		}
	}
}
